{:secrets    #include #join [#env HOME "/.villagebook-secrets.edn"]

 :db-spec    #profile {:default    "jdbc:postgresql://villagebook-postgres:5432/villagebook?user=villagebook"
                       :test       "jdbc:postgresql://villagebook-postgres:5432/villagebook_test?user=villagebook_test"
                       :production "jdbc:postgresql://localhost:5432/villagebook_prod?user=postgres"}
 :jwt-secret #profile {:default    "secret"
                       :test       "secret"
                       :production #ref [:secrets :jwt-secret]}}
