[Unit]
Description=villagebook

[Service]
ExecStart=/usr/bin/java -jar /home/deploy/villagebook-0.1.0-SNAPSHOT-standalone.jar
Restart=always
RestartSec=5
Environment=HOME=/home/deploy/
Environment=CONFIG_PROFILE=production

[Install]
WantedBy=default.target