;; resources/migrations/001-organisations.edn
{:up   ["CREATE TABLE organisations(id serial primary key,
              name text NOT NULL,
              color text,
              created_at timestamp DEFAULT now());"]
 :down ["DROP TABLE organisations;"]}
